

.mpb-captcha--image{
    position:relative;
    overflow:hidden;
    clear:both;
    display: inline-block;
}

.mpb-captcha-fallback--text{
    position:absolute;
    left:0;
    top:50%;
    right:0;
    bottom:0;
    transform: translateY(-50%);
    text-align: center;
    font-size:40px;
    line-height: 40px;
}
